@using UpYourChannel.Web.ViewModels.Post
@using UpYourChannel.Web.Paging
@model PaginatedList<PostViewModel>
<br />
<br />
<br />
<br />

<div class="container">
    <a class="float-left btn btn-primary btn-sm" asp-controller="Post" asp-action="CreatePost">Add Post</a>
    <h1 class="display-4 text-center"> All Posts</h1>
    <form asp-controller="Post" asp-action="AllPosts" method="get">
        <input type="hidden" name="category" value="@Model.Category" />
        <select asp-for="@Model.SortBy" onchange="this.form.submit()">
            @*make text infront of every option*@
            <option value="" disabled selected hidden>Sort by:</option>
            <option value="Recent">Recent</option>
            <option value="Popular">Popular</option>
        </select>
    </form>
    <br />
    <br />
    @foreach (var post in Model)
    {
    <div class="media-body">
        <h4 class="media-heading"><a asp-controller="Post" asp-action="ById" asp-route-id="@post.Id">@post.Title</a></h4>
        <p>@Html.Raw(post.SanitizedContentWith150Symbols) ...</p>
        <ul class="list-inline list-unstyled text-left">
            <li class="list-inline-item">
                <i class="fas fa-user-edit"></i> @post.UserUserName
            </li>
            <li class="list-inline-item">
                <i class="far fa-calendar"></i> @post.CreatedOn
            </li>
            <li class="list-inline-item">
                <i class="fas fa-comments"></i> @post.CommentsCount
            </li>
            <li class="list-inline-item">
                <i class="fas fa-thumbs-up"></i> @post.VotesCount
            </li>
            @if (post.IsThisUser == true || User.IsInRole("Admin"))
                {
            <li class="list-inline-item">
                <a asp-controller="Post" asp-action="EditPost" asp-route-postId="@post.Id">
                    Edit
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-danger" asp-controller="Post" asp-action="DeletePost" asp-route-postId="@post.Id">Delete</a>
            </li>
                }
        </ul>
    </div>
    }
</div>
<br />
<br />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="text-center">
    <a asp-area="" asp-controller="Post" asp-action="AllPosts" asp-route-category=@Model.Category
       asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortBy=@Model.SortBy
       class="btn btn-default page-item  @prevDisabled">
        Previous
    </a>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
    <a asp-area="" asp-controller="Post" asp-action="AllPosts" asp-route-category=@Model.Category
       asp-route-pageNumber="@(i)" asp-route-sortBy=@Model.SortBy
       class="btn btn-default">
        @i
    </a>
    }
    <a asp-area="" asp-controller="Post" asp-action="AllPosts" asp-route-category=@Model.Category
       asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortBy=@Model.SortBy
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
