@model UpYourChannel.Web.ViewModels.Post.PostIndexModel
@{
    this.ViewData["Title"] = Model.Post.Title;
}

<br />
<br />
<br />
<br />
<h1 class="text-center">@Model.Post.Title</h1>
<br />
<div class="container">
    <!-- maybe container-fluid -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            @Model.Post.UserUserName
                            <div class="text-muted small">@Model.Post.CreatedOn</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <form id="votesForm" method="post"></form>
                            <div>
                                <a href="#" onclick="sendVote(@Model.Post.Id, true)">
                                    <i class="fa fa-thumbs-up"></i>
                                </a>
                            </div>
                            <div id="votesCount">@Model.Post.VotesCount</div>
                            <div>
                                <a href="#" onclick="sendVote(@Model.Post.Id, false)">
                                    <i class="fa fa-thumbs-down"></i>
                                </a>
                            </div>
                            <a href="#" onclick="AddNewHeader()">HELLO</a>
                            <section id="tweets">
                            </section>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Post.SanitizedContent)
                </div>
                <div class="card-footer d-flex flex-wrap align-items-center px-0 pt-0 pb-3">
                    <form asp-controller="Post" asp-action="AddCommentToPost" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="px-4 pt-3">
                            <input type="hidden" name="Comment.PostId" value="@Model.Post.Id">
                            <textarea asp-for="Comment.Content" rows="1" cols="110" class="form-control" aria-label="With textarea" placeholder="Comment..."></textarea>
                            <div class="px-4 pt-3"> <button type="submit" class="btn btn-primary">Comment &nbsp;<i class="far fa-comment-dots"></i></button> </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    @foreach (var comment in Model.Post.Comments)
    {
        <div>
            @comment.Content
        </div>
        <br />

    }
</div>
<br />
<br />
<h1 class="text-center">Top 3 Comments</h1>
<br />
<div class="container">
    @foreach (var comment in Model.Top3Comments)
    {
        <div>
            @comment.Content;
        </div>
        <br />
    }
</div>
@section Scripts {
    <script>
        function sendVote(postId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { postId: postId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/VoteApi",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }

        function AddNewHeader() {
            var html = "<h1>Hello i am Kris bruh!!!!!!!!!!!</h1>"
            $("#tweets").append(html);
        }
    </script>
}