@model UpYourChannel.Web.ViewModels.Post.PostIndexModel
@{
    this.ViewData["Title"] = Model.Post.Title;

    async Task DisplayComments(int? parentId)
    {
        var comments = this.Model.Post.Comments.Where(x => x.ParentId == parentId);
        if (!comments.Any())
        {
            return;
        }

        @foreach (var comment in comments)
        {
            var isAnswer = comment.IsAnswer ? "<i class=\"fas fa-star\"></i>Answer" : "";
            var id = "v" + comment.Id;
            var editComment = "e" + comment.Id;
            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        @*<div class="card mb-4">
                            <div class="card-header">*@
                        <div class="media flex-wrap w-100 ml-4">
                            <img src="@comment.UserProfilePictureUrl" class="d-block rounded-circle" style="border-radius:50%; width:50px; height:50px">
                            <div class="media-body ml-3">
                                <div>
                                    <strong class="text-danger">@Html.Raw(isAnswer)</strong>
                                </div>
                                <strong class="mt-0 text-primary">@comment.UserUserName</strong>
                                <div class="mt-0 text-muted small">@comment.CreatedOn.ToString()</div>

                                @Html.Raw(comment.SanitizedContent)
                                <div class="text-muted ">
                                    <a href="javascript:void(0)" onclick="sendVoteForComment(@comment.Id, true)">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                    <a id=@id>@comment.VotesCount</a>
                                    <a href="javascript:void(0)" onclick="sendVoteForComment(@comment.Id, false)">
                                        <i class="fa fa-thumbs-down"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="showAddComment(@comment.Id)">reply</a>
                                    @if (comment.IsThisUser == true)
                                    {
                                        <a href="javascript:void(0)" onclick="showEditComment(@comment.Id)">edit</a>
                                        <a class="text-danger"
                                           asp-controller="Comment" asp-action="DeleteComment"
                                           asp-route-id="@comment.Id" asp-route-postId="@Model.Post.Id">delete</a>
                                    }
                                    <div id="@editComment" style="display : none">
                                        <hr />
                                        <form asp-controller="Comment" asp-action="EditComment" method="post">
                                            <input type="hidden" name="postId" value="@Model.Post.Id" />
                                            <input type="hidden" name="commentId" value="@comment.Id" />
                                            <textarea class="someTextBox form-control" name="newContent" rows="2" style="width:50%" ; aria-label="With textarea" placeholder="comment..."></textarea>
                                            <div>
                                                <a href="#" onclick="$(this).closest('form').submit()">edit comment</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="@comment.Id" style="display : none">
                                        <hr />
                                        <form asp-controller="Comment" asp-action="CreateComment" method="post">
                                            <input type="hidden" name="PostId" value="@Model.Post.Id" />
                                            <input type="hidden" name="ParentId" value="@comment.Id" />
                                            <input type="hidden" name="isAnswer" value="false" />
                                            <textarea class="someTextBox form-control" name="Content" rows="2" style="width:50%" ; aria-label="With textarea" placeholder="comment..."></textarea>
                                            <div>
                                                <a href="#" onclick="$(this).closest('form').submit()">add comment</a>
                                            </div>
                                        </form>
                                        @*<partial name="_CreateCommentPartial" model="new UpYourChannel.Web.ViewModels.Comment.CommentInputModel
                                            { ParentId = comment.Id, PostId = Model.Post.Id }" />*@
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr />
                        <div class="card-body">
                            @{ await DisplayComments(comment.Id); }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<head>
    <link href="~/css/comments.css" rel="stylesheet">
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea.tinyMce",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>
</head>
<br />
<br />
<br />
<br />
<h1 class="text-center">@Model.Post.Title</h1>
<br />
@if ((string)TempData["newPost"] == "Successfully created Post!")
{
    <div class="container">
        <div class="text-center alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["newPost"]</strong>
        </div>
    </div>
    @*<script>alert("@TempData["SuccessOnAddVideo"]");</script>*@
}
<div class="container">
    <!-- maybe container-fluid -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src=@Model.Post.UserProfilePictureUrl class="d-block rounded-circle" style="border-radius:50%; width:70px; height:70px">
                        <div class="media-body ml-3">
                            <strong class="text-primary">@Model.Post.UserUserName</strong>
                            <div class="text-muted small">@Model.Post.CreatedOn</div>
                            @if (Model.Post.IsThisUser == true)
                            {
                                <a asp-controller="Post" asp-action="EditPost" asp-route-postId="@Model.Post.Id">Edit</a>
                                <a class="text-danger" asp-controller="Post" asp-action="DeletePost" asp-route-postId="@Model.Post.Id">Delete</a>
                            }
                        </div>
                        <div class="text-muted ml-3">
                            <form id="votesForm" method="post"></form>
                            <div>
                                <a href="javascript:void(0)" onclick="sendVote(@Model.Post.Id, true)">
                                    <i class="fa fa-thumbs-up"></i>
                                </a>
                            </div>
                            <div id="votesCount">@Model.Post.VotesCount</div>
                            <div>
                                <a href="javascript:void(0)" onclick="sendVote(@Model.Post.Id, false)">
                                    <i class="fa fa-thumbs-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Post.SanitizedContent)
                </div>
                <div class="card-footer flex-wrap align-items-center px-0 pt-0 pb-3">
                    <form asp-controller="Post" asp-action="AddCommentToPost" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="px-4 pt-3 form-inline">
                            <input type="hidden" name="Comment.PostId" value="@Model.Post.Id">
                            <textarea required asp-for="Comment.Content" rows="2" cols="70" class="form-control" aria-label="With textarea" placeholder="Comment..."></textarea>
                            <div class="px-4 "> <button type="submit" class="btn btn-primary">Comment &nbsp;<i class="far fa-comment-dots"></i></button> </div>
                            <div class="px-4 "> <button type="button" class="btn btn-primary" onclick="showAddCommentForm()">Answer &nbsp;<i class="far fa-comment-dots"></i></button> </div>
                        </div>
                    </form>
                    <br />
                    @{ await DisplayComments(null); }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <form asp-controller="Post" asp-action="AddCommentToPost" method="post" id="AddCommentForm" style="display: none">
        <input type="hidden" name="Comment.PostId" value="@Model.Post.Id" />
        <input type="hidden" name="isAnswer" value="true" />
        <div>
            <label for="Content"></label>
            <textarea asp-for="Comment.Content" class="tinyMce form-control"></textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Add answer" />
        </div>
    </form>
</div>
<div class="container">
    <h1 class="text-center">Top 3</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Answers</h1>
            <br />
            @{
                var count = 1;
                foreach (var answer in Model.Top3Answers)
                {

                    <div>
                        <strong>Number @count best answer</strong>
                        <br />
                        <div>@Html.Raw(answer.SanitizedContent)</div>
                    </div>
                    <hr />
                    count++;
                }
            }
        </div>
        <div class="col-md-6">
            <h1 class="text-center">Comments</h1>
            <br />
            @{
                var count2 = 1;
                foreach (var comment in Model.Top3Comments)
                {

                    <div>
                        <strong>Number @count2 best comment</strong>
                        <br />
                        <div>@Html.Raw(comment.SanitizedContent)</div>
                    </div>
                    <hr />
                    count2++;
                }
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>

        function showAddComment(commentId) {
            $("#" + commentId).toggle();
        }

        function showEditComment(commentId) {
            $('#e' + commentId).toggle();
        }

        function showAddCommentForm() {
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        }

        function sendVote(postId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { postId: postId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/VoteApi/VoteForPost",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }

        function sendVoteForComment(postId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { postId: postId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/VoteApi/VoteForComment",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#v" + postId).html(data.votesCount);
                }
            });
        }
    </script>
}
