@page
@using UpYourChannel.Web.Paging;
@using UpYourChannel.Web.ViewModels.Message;
@using UpYourChannel.Data.Models;
@model IndexModel
@{
    //Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    ViewData["Title"] = "All Messages:";
    ViewData["ActivePage"] = ManageNavPages.AllMessages;
}


@*<partial name="_StatusMessage" model="Your profile has been updated" />*@
<h4>@ViewData["Title"]</h4>
@foreach (var message in Model.PaginatedMessages)
{
    if (message.IsNew)
    {
        <strong class="text-primary">UpYourChannel Service:</strong> <strong style="font-size:110%; color: red">NEW</strong>
    }
    else
    {
        <strong class="text-primary">UpYourChannel Service:</strong>
    }
    <a class="text-danger float-right"
       asp-area="Identity" asp-controller="User" asp-action="DeleteMessageFromAll"
       asp-route-messageId="@message.Id" asp-route-pagenumber="@Model.PaginatedMessages.PageIndex">Delete</a>
    <div class="text-muted small">@message.CreatedOn.ToString()</div>
    if (message.PostId != 0)
    {
        <strong><a class="text-success" asp-area="" asp-controller="Post" asp-action="ById" asp-route-id="@message.PostId">GO TO POST</a></strong>
    }
    <div>@message.Content</div>
    <br />
}
@{
    var prevDisabled = !Model.PaginatedMessages.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedMessages.HasNextPage ? "disabled" : "";
}
<div class="text-center">
    <a asp-area="Identity" asp-controller="User" asp-action="AllMessages"
       asp-route-pageNumber="@(Model.PaginatedMessages.PageIndex - 1)"
       class="btn btn-default page-item @prevDisabled">
        Previous
    </a>
    @for (int i = 1; i <= Model.PaginatedMessages.TotalPages; i++)
    {
        <a asp-page="./AllMessages"
           asp-route-pageNumber="@(i)"
           class="btn btn-default">
            @i
        </a>
    }
    <a asp-page="./AllMessages"
       asp-route-pageNumber="@(Model.PaginatedMessages.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>