@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <h4>@ViewData["Title"]</h4>
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
        <hr />
        <h4>Recent Messages:</h4>
        <br />
        @foreach (var message in Model.Messages.Take(5))
        {
            if (message.IsNew)
            {
                <strong class="text-primary">UpYourChannel Service:</strong> <strong style="font-size:110%; color: red">NEW</strong>
                <a class="text-danger float-right"
                   asp-area="Identity" asp-controller="User" asp-action="DeleteMessage"
                   asp-route-messageId="@message.Id">Delete</a>
            }
            else
            {
                <strong class="text-primary">UpYourChannel Service:</strong>
                <a class="text-danger float-right"
                   asp-area="Identity" asp-controller="User" asp-action="DeleteMessage"
                   asp-route-messageId="@message.Id">Delete</a>
            }
            <div class="text-muted small">@message.CreatedOn.ToString()</div>
            <div>@message.Content</div>
            <br />
        }
    </div>
    <div class="col-md-6">
        <h4>Your Profile Picture:</h4>
        <img src="@Model.ProfilePictureUrl" alt="You have no image" style="height:250px;width:250px;" />
        <form method="post" enctype="multipart/form-data" asp-area="Identity" asp-controller="User" asp-action="AddPhoto">
            <div class="form-group">
                <div class="col-md-10">
                    <br />
                    <p>Change your image:</p>
                    <hr />
                    <input required type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn-primary btn-sm" type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .btn-sm {
        border: none !important;
    }
</style>
